<!DOCTYPE html>
<html>

<body>

    <h2>Enter the Notice HERE !</h2>

    <form action="/notice" method="post">
        <label for="fname">NOTICE:</label><br>
        <select name="ppf" id="cars">
            <option value="past">PAST</option>
            <option value="present">PRESENT</option>
            <option value="future">FUTURE</option>
        </select>
        <br>
        <textarea type="text" id="fname" name="input_notice" rows="3"></textarea>
        <br><br>
        <input type="submit" value="Submit">
    </form>

</body>

</html>